<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
        <meta name="description" content="Server screen for Minecraft Server Control">
        <meta name="keywords" content="Minecraft, Server, Control">
        <meta name="theme-color" content="#00a300">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/icons/site.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#52a535">
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/plugins.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/scripts/index.js"></script>
        <script src="/static/scripts/plugins-page.js"></script>
        <script src="/static/scripts/iconify.min.js"></script>
        <title> Plugins | Minecraft Server Control </title>
    </head>
    <body>
        <div id="box" class="box" data-id="<%- server.id %>">
            <h1>Installed plugins</h1>
            <div id="installed-plugins">
                <% plugins.forEach(function(plugin) { %>
                    <div class="plugin">
                        <div class="plugin-name">
                            <%- plugin %>
                        </div>
                        <div class="plugin-buttons">
                            <input type="button" class="btn btn-danger" onclick="remove('<%- plugin %>')" value="Remove"></input>
                        </div>
                    </div>
                <% }); %>
        </div>
        <div id="arrow-back">
            <span class="iconify" data-icon="bx:left-arrow-alt" onclick="location.href = '.'">⬅</span>
        </div>
</html>